<body>
    <h2>How will everyone play?</h2>
    <form action="/game/play">
        <fieldset>
            <legend> {{ session["game"]["player1_name"] }} </legend>
            <div>
              <input type="radio" id="rock" name="symbol1" value="rock">
              <label for="rock">Rock</label>
        
              <input type="radio" id="scissors" name="symbol1" value="scissors">
              <label for="scissors">Scissors</label>
       
            <input type="radio" id="paper" name="symbol1" value="paper">
            <label for="paper">Paper</label>
            </div>
          </fieldset>
          <fieldset>
            <legend> {{ session["game"]["player2_name"] }} </legend>
            <div>
              <input type="radio" id="rock" name="symbol2" value="rock">
              <label for="rock">Rock</label>
        
              <input type="radio" id="scissors" name="symbol2" value="scissors">
              <label for="scissors">Scissors</label>
       
            <input type="radio" id="paper" name="symbol2" value="paper">
            <label for="paper">Paper</label>
            </div>
          </fieldset>
          <input type="submit" value="Send">
    </form>
 <!-- TODO: write actual HTML to display the information in the session prettily  -->
{{session}}
</body>